<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.kaishengit.web.HomeServlet</servlet-class>
    <init-param>
      <param-name>userName</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>rootroot</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.kaishengit.web.listener.MyHttpSessionListener</listener-class>
  </listener>
  <context-param>
    <param-name>userName</param-name>
    <param-value>jack</param-value>
  </context-param>
  <servlet>
    <servlet-name>SetCookieServlet</servlet-name>
    <servlet-class>com.kaishengit.web.cookie.SetCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetCookieServlet</servlet-name>
    <url-pattern>/cookie/set</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCookieServlet</servlet-name>
    <servlet-class>com.kaishengit.web.cookie.GetCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCookieServlet</servlet-name>
    <url-pattern>/cookie/get</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelCookieServlet</servlet-name>
    <servlet-class>com.kaishengit.web.cookie.DelCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCookieServlet</servlet-name>
    <url-pattern>/cookie/del</url-pattern>
  </servlet-mapping>
</web-app>