<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaishengit.mapper.DeviceRentDetailMapper">

    <insert id="batchSave">
        INSERT INTO t_device_rent_detail(dename,deunit,deprice,denum,totalprice,rentid)
        VALUES
        <foreach collection="list" separator="," item="device">
            (#{device.dename},#{device.deunit},#{device.deprice},#{device.denum},#{device.totalprice},#{device.rentid})
        </foreach>
    </insert>
    <select id="findDeviceRentDetailByRentid" resultType="com.kaishengit.pojo.DeviceRentDetail">
        SELECT *FROM t_device_rent_detail WHERE rentid = #{rentid}
    </select>
</mapper>