<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaishengit.mapper.WorkerMapper">
    <insert id="save">
        INSERT INTO t_worker(workername,workerprice,workertotalnum,workercurrnum)
        VALUES (#{workername},#{workerprice},#{workertotalnum},#{workercurrnum})
    </insert>
    <update id="updateCurrnum">
        UPDATE  t_worker SET workercurrnum = #{workercurrnum} where id = #{id}
    </update>

    <select id="findAllWorkers" resultType="com.kaishengit.pojo.Worker">
        SELECT *FROM t_worker
    </select>
    <select id="findWorkerById" resultType="com.kaishengit.pojo.Worker">
        SELECT *FROM t_worker WHERE id=#{id}
    </select>
</mapper>