<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.SchoolMapper">
    <!--<select id="findByid"  resultMap="schoolMap">
         SELECT student.id,studentname,schoolid,schoolname
        FROM student
        INNER JOIN school ON student.schoolid = school.id
        WHERE school.id = #{id}

    </select>-->
    <!--一对多-->

    <!--<resultMap id="schoolMap" type="School">
        <id column="schoolid" property="id"/>
        <result column="schoolname" property="schoolname"/>
        <collection property="studentList" ofType="Student">
            <id column="id" property="id"/>
            <result column="studentname" property="studentname"/>
            <result column="schoolid" property="schoolid"/>

        </collection>

    </resultMap>-->

     <select id="findByid" resultType="School">
         SELECT * FROM school WHERE id = #{id}
     </select>

</mapper>